* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Body contendo o background do site*/
body {
    background-image: url(../imgs/purple_dragons_background.png);
    /*o .. é para indicar para o githubpages procurar fora do css a imagem do background*/
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* Personalização da caixa de div onde se tem a data/hoda/dia da semana e o botão para registrar ponto*/
.big-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    min-height: 80dvh;
    color: white;
    margin-top: 1dvb;
    margin-bottom: 0;
}

.registro {
    width: 500px;
}

#btn-justificativa {
    width: 400px;
    padding: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    background-color: rgb(83, 23, 91);
    border-color: rgb(112, 18, 174);
    border-width: 2px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
    transition: background-color 0.3s, font 0.3s;
}

#btn-justificativa:hover {
    background-color: rgb(148, 5, 134);
}

#label-justificativa {
    margin-bottom: 10px;
}

#fundo-pagina-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 95%;
    min-height: 95dvh;
    color: white;
    background-color: rgb(83, 23, 91);
    border-radius: 50px;
}

/* Personalização da classe data-hora */
.data-hora {
    font-size: 25px;
}

/* Definição do local onde se mostra a data e hora */
.labels,
#dialog-data,
#dialog-hora {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: white;
}

/* Ajuste da posição da data */
#dialog-data {
    margin-bottom: 10px;
}

/* Ajuste da posição da hora */
#dialog-hora {
    margin-bottom: 10px;
}

/* Definições do botão para abrir a dialog-register */
#btn-dialog-register {
    width: 180px;
    padding: 4px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgb(83, 23, 91);
    border-color: rgb(112, 18, 174);
    border-width: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    transition: background-color 0.3s, font 0.3s;
}

/* Persoanlização do hover do botão de abrir o dialog */
#btn-dialog-register:hover {
    background-color: rgb(148, 5, 134);
}

/* Personalização do local onde se mostra o último registro */
#dialog-ultimo-registro {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

/* Definições do botão de registro */
#btn-registrar-ponto {
    background-color: rgb(142, 4, 128);
    border-color: rgb(112, 18, 174);
    padding: 30px;
    width: 220px;
    font-size: 20px;
    border-radius: 10px;
    border-width: 3px;
    color: white;
    transition: background-color 0.3s, font 0.3s;
}

/* Personalização do hover do botão de registro */
#btn-registrar-ponto:hover {
    background-color: rgb(159, 11, 144);
}

/* Definições do dialog-ponto */
#dialog-ponto {
    font-weight: bold;
    background-color: rgb(95, 5, 93);
    border-color: rgb(112, 18, 174);
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    border-width: 3px;
}

/* Definição do backdrop do dialog */
dialog::backdrop {
    background: rgb(113, 3, 125);
    opacity: 20%;
}

/* Definições do botão de fechar o dialog */
#dialog-fechar {
    padding: 5px;
    width: 35px;
    font-size: 20px;
    border-color: rgb(99, 1, 132);
    border-radius: 5px;
    transition: background-color 0.3s, font 0.3s, border-color 0.3s;
}

/* Personalização do hover do dialog */
#dialog-fechar:hover {
    background-color: rgb(255, 54, 54);
    border-color: rgb(255, 54, 54);
    color: white;
}

/* Definições do registro */
#register-type {
    margin: 0;
    padding: 4px;
    font-size: 20px;

    border-color: rgb(113, 201, 206);
    width: 200px;
    margin-bottom: 10px;
    border-width: 2px;
    border-radius: 5px;
}

/* Personalização do dialog */
.align-content-dialog {
    display: flex;
    flex-direction: column;
}

.disalign-close-btn {
    display: flex;
    flex-direction: row-reverse;
}

#alerta-ponto-registrado {
    font-weight: bold;
    border: 1px solid rgb(112, 18, 174);
    border-radius: 10px;
    border-width: 3px;
    position: fixed;
    right: 5px;
    bottom: 40px;
    background-color: rgb(112, 18, 174);
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#ponto-anterior {
    background-color: rgb(95, 5, 93);
    border-color: rgb(112, 18, 174);
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    border-width: 3px;
}

#dialog-fechar-anterior {
    padding: 5px;
    width: 35px;
    font-size: 20px;
    border-color: rgb(99, 1, 132);
    border-radius: 5px;
    transition: background-color 0.3s, font 0.3s, border-color 0.3s;
}

#dialog-fechar-anterior:hover {
    background-color: rgb(255, 54, 54);
    border-color: rgb(255, 54, 54);
    color: white;
}

#btn-ponto-anterior {
    font-size: 13px;
    margin: 0;
    padding: 0;
    width: 170px;
    border: none;
    background: none;
    transition: color 0.1s;
    text-decoration: underline;
    color: white;
}

#btn-ponto-anterior:hover {
    color: rgb(3, 133, 255);
}

#justificativa {
    background-color: rgb(95, 5, 93);
    border-color: rgb(112, 18, 174);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    border-width: 3px;
}

#dialog-fechar-justificativa {
    padding: 5px;
    width: 35px;
    font-size: 20px;
    border-color: rgb(99, 1, 132);
    border-radius: 5px;
    transition: background-color 0.3s, font 0.3s, border-color 0.3s;
}

#dialog-fechar-justificativa:hover {
    background-color: rgb(255, 54, 54);
    border-color: rgb(255, 54, 54);
    color: white;
}

#btn-enviar-justificativa {
    width: 180px;
    padding: 4px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgb(83, 23, 91);
    border-color: rgb(112, 18, 174);
    border-width: 2px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    transition: background-color 0.3s, font 0.3s;
}

#btn-enviar-justificativa:hover {
    background-color: rgb(148, 5, 134);
}

#data-ant {
    width: 100px;
}

#hora-ant {
    width: 100px;
}

#titulo {
    color: white;
    font-size: 55px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

#titulo-registros {
    color: white;
    font-size: 55px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

#label-type-register {
    margin-bottom: 5px;
}

#btn-ant-register {
    width: 200px;
    padding: 4px;
    font-size: 20px;
    background-color: rgb(83, 23, 91);
    border-color: rgb(112, 18, 174);
    border-width: 2px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s, font 0.3s;
}

#btn-ant-register:hover {
    background-color: rgb(148, 5, 134);
}

#register-type-ant {
    width: 150px;
    padding: 4px;
    font-size: 20px;
}

#data-ant,
#hora-ant {
    width: 150px;
    font-size: 20px;
}

.textareas {
    resize: none;
    height: 100px;
    width: 400px;
    font-size: 15px;
}

#imagem-logo {
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
}

#imagem-logo-2 {
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
}

#container-registros {
    background-color: rgb(83, 23, 91);
    padding: 20px;
    border-radius: 8px;
    color: white;
    max-width: 600px;
    margin: auto;
}

.registro {
    background-color: rgb(112, 18, 174);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: rgb(142, 4, 128);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(148, 5, 134);
}

#dialog-edit {
    width: 400px;
    padding: 20px;
    background-color: rgb(83, 23, 91);
    border-radius: 8px;
    color: rgb(83, 23, 91);
}

#dialog-edit h3 {
    margin-top: 0;
    font-size: 24px;
    color: #ffffff;
}

#dialog-edit label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: white
}

#dialog-edit input,
#dialog-edit select {
    width: 150px;
    font-size: 20px;
    margin-top: 5px;
    padding: 8px;
    border-radius: 6px;
}

#save-edit,
#close-edit {
    margin-top: 15px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

#save-edit {
    background-color: rgb(142, 4, 128);
    color: white;
    transition: background-color 0.3s;
}

#close-edit {
    background-color: rgb(142, 4, 128);
    color: white;
    margin-left: 10px;
    transition: background-color 0.3s;
}

#save-edit:hover {
    background-color: rgb(148, 5, 134);
}

#close-edit:hover {
    background-color: rgb(255, 0, 0);
}

#rodape {
    bottom: 0px;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    width: 100%;
    background-color: rgb(99, 1, 132);
    color: white;
    margin-top: 2px;
}

#rodape2 {
    bottom: 0px;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    margin-top: 95px;
    width: 100%;
    background-color: rgb(99, 1, 132);
    color: white;
}

#link-registros,
#link-registros-voltar {
    color: white;
}

#obs-dialog-ponto {
    margin-bottom: 10px;
}

#obs-justificativa {
    margin-top: 10px;
    margin-bottom: 10px;
}

#arqv-justificativa {
    font-size: 15px;
    color: white;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

#dia-semana::first-line {
    font-weight: bold;
}

#data-atual::first-line {
    font-weight: bold;
}

#hora-atual::first-line {
    font-weight: bold;
}

#link-registros-voltar {
    position: fixed;

}

#imagem-tamanho {
    width: 100px;
    height: 100px;
}