body {
    background: rgb(203, 241, 245);
    padding: 0;
    margin: 0;
}

.big-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    
}

.data-hora{
    font-size: 25px;
}

.labels,#dialog-data,#dialog-hora{
    font-size: 25px;
}

#register-type{
    width: 150px;
    padding: 4px;
    font-size: 20px;
}

#btn-dialog-register{
    width: 200px;
    padding: 4px;
    font-size: 20px;
    background-color: rgb(166, 227, 233);
    border-color: rgb(113, 201, 206);
    border-width: 2px;
    border-radius: 5px;
    transition: background-color 0.3s, font 0.3s;
}

#btn-registrar-ponto{
    background-color: rgb(166, 227, 233);
    border-color: rgb(113, 201, 206);
    padding: 30px;
    width: 220px;
    font-size: 20px;
    border-radius: 10px;
    border-width: 3px;
    transition: background-color 0.3s, font 0.3s;
}

#dialog-ponto {
    background-color: rgb(203, 241, 245);
    border-color: rgb(113, 201, 206);
    width:400px;
    padding: 40px;
    border-radius: 10px;
    border-width: 3px;
  
}

dialog::backdrop {
    background: rgb(113, 201, 206);
    opacity: 20%;
}

#dialog-fechar {
    padding: 5px;
    width: 35px;
    font-size: 20px;
    border-color: rgb(113, 201, 206);
    border-radius: 5px;
    transition: background-color 0.3s, font 0.3s, border-color 0.3s;
}

#dialog-fechar:hover{
    background-color: rgb(255, 54, 54);
    border-color: rgb(255, 54, 54);
    color: white; 
}

#btn-registrar-ponto:hover{
    background-color: rgb(148, 235, 243);
}

#btn-dialog-register:hover{
    background-color: rgb(148, 235, 243);
}

#register-type{
    border-color: rgb(113, 201, 206);
    width: 200px;
    margin-bottom: 5px;
    border-width: 2px;
    border-radius: 5px;
}

.align-content-dialog {
    display: flex;
    flex-direction: column;
}

.disalign-close-btn {
    display: flex;
    flex-direction: row-reverse;
}

#alerta-ponto-registrado{
    border: 1px solid rgb(113, 201, 206);
    border-radius: 10px;
    border-width: 3px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    background-color: rgb(166, 227, 233);
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.hidden{
    opacity: 0;
}

.show{
    opacity: 1;
}